<h1>Tasks#show</h1>
<p>Find me in app/views/tasks/show.html.erb</p>

<p><%= @task.content %></p>

<%= link_to "編集", edit_task_path %>
<%= link_to "削除", task_path, method: :delete %>
<%= link_to "トップページ" , tasks_path %>
