<div class="text-center">
    <h1><%= current_user.name %>のマイページ</h1>

    <% current_user.tasks.each do |task| %>
        タスク：<%= link_to " #{task.content}" , edit_task_path %>
        タスクの状態：<%= task.status %><br>
    <% end %>
</div>

<%= link_to "新規タスク作成", new_task_path %>
